:root {
  --primary-color: #c4bcda;
  --secondary-color: #2b2d36;
  --action-color: #caaa36;
  --tertiary-color: #fcf9ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}



h1 {
  font-size: 2em;
  color: var(--action-color);
}

main {
  margin: 100px 0;
}
