@import "./components/Button/button.css";
@import "./components/Card/card.css";
@import "./components/Header/header.css";
@import "./components/Navigation/navigation.css";

:root {
  --primary-color: #c4bcda;
  --secondary-color: #2b2d36;
  --action-color: #caaa36;
  --tertiary-color: #f6f5f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 100px 0;
}
