* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin: 20px;
}
header {
    background-color: #84a59d;
    height: 80px;
    position: fixed;
    width:100%;
    top: 0;
    left:0;
}
.question {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin: auto;
  padding: 50px 30px;
}
.card-list {
  display: flex;
}

.card-item {
  border: 1px solid black;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 40px;
}
.answer-button {
  width: 30%;
  height: 50px;
  border-radius: 10%;
  background-color: #f6bd60;
}
.button-text {
  font-size: 15px;
}
.tag-box-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.tag-box-item {
  border: 1px solid black;
  border-radius: 15%;
  padding: 5px;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #84a59d
}

.nav-bar-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

svg {
    color: black;
}

