* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #dce3f9;
}
main {
  margin: 100px 0;
}
h1 {
  font-size: 2em;
  color: #caaa36;
}

header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2b2d36;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin: auto;
  padding: 50px 30px;
}
.card-list {
  display: flex;
}

.question-card {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  border-radius: 5%;
  background-color: white;
}
.answer-button {
  width: 30%;
  height: 50px;
  border-radius: 10%;
  background-color: #caaa36;
}
.answer-button:hover {
  background: #dce3f9;
  color: black;
}

.button-text {
  font-size: 15px;
}
.tag-box-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.tag-box-item {
  border: 1px solid black;
  border-radius: 15%;
  padding: 5px;
  background-color: #dce3f9;
}

.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2b2d36;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar-list {
  display: flex;
  list-style: none;
  width: 100%;
  height: 5em;
  justify-content: space-around;
  align-items: center;
}
.nav-bar-item a {
  display: inline-flex;
  padding: 1.5em 5em;
}

.nav-bar-item:hover {
  background-color: #caaa36;
}
.nav-bar-item:active {
  background-color: #caaa36;
}

svg {
  color: white;
}
