.card-list {
    display: flex;
    flex-direction: column;
  }
  
  .card-list__item {
    position: relative;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    width: 80%;
  }
  
.card-list__question {
    padding: 2rem 1rem 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: auto;
    
  }
  .card-list__answer {
    padding: 1rem 1rem 0;
    text-align: center;
    margin: 0px auto 30px ;
    font-size: 24px;
    font-weight: 500;
    
  }
  .card-list__tag-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 0.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  .card-list__tag-item{
    border: 1px solid var(--secondary-color);
    border-radius: 2em;
    padding: 0.4rem;
    background-color: var(--tertiary-color);
  }