header {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secondary-color);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }